@using DTOs
@model RequestUserDto

<h2>Update User</h2>

<form asp-action="Update" asp-route-id="@ViewContext.RouteData.Values["id"]" method="post">
    <div class="form-group">
        <label asp-for="Username" class="control-label">New Username:</label>
        <input asp-for="Username" class="form-control" name="Username"/>
    </div>

    <div class="form-group">
        <label asp-for="UnhashedPassword" class="control-label">New Password:</label>
        <input asp-for="UnhashedPassword" class="form-control" type="password" name="UnhashedPassword"/>
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
