@{
    ViewBag.Title = "Home Page";
}

<h2>Home Page</h2>

<ul>
    <li>@Html.ActionLink("Posts", "Index", "Post")</li>
    <li>@Html.ActionLink("Users", "Index", "User")</li>
    <li>@Html.ActionLink("Comments", "Index", "Comment")</li>
</ul>
